@import "tailwindcss";
.listPlans__section {
  @apply bg-[url('https://res.cloudinary.com/dkrpmbjml/image/upload/v1772552420/emprestai_ssrjca.jpg')] 
        bg-cover 
        bg-center 
        bg-no-repeat;
}
.listPlans-section__bg {
  @apply flex 
        items-center 
        justify-center 
        p-24
         
        bg-linear-to-bl 
        from-purple-900
        via-purple-200/80 
        to-white/50
        min-h-screen
        
        max-sm:p-0
        
        max-md:p-8
        
        max-lg:p-10;
}
.listPlans-section__container {
  @apply w-300
        min-h-150
        grid
        grid-cols-[0.7fr_2fr]
        bg-white
        rounded
        shadow-2xs

        max-sm:mt-17
        
        max-md:grid-cols-1
        max-md:w-full
        max-lg:mt-10
        
        max-lg:grid-cols-[1.2fr_2fr]
        max-lg:h-auto
        
        max-xl:grid-cols-[1fr_2fr];
}
/* Coluna da Esquerda: Perfil e Resumo */
.listPlans-section__aside {
  @apply border-r
        border-gray-200;
}
.listPlans-section-aside__container {
  @apply p-6
        flex
        flex-col
        gap-3;
}
.listPlans-section-aside-container__header {
  @apply flex
      flex-col
      gap-2
      justify-center
      border-b
      border-gray-200
      pb-2;
}
.listPlans-section-aside-container__header p {
  @apply text-base 
      text-gray-700;
}
.listPlans-section-aside-container__header h1 {
  @apply text-2xl 
      font-bold 
      text-gray-900
      capitalize;
}
.listPlans-section-aside-container__header span {
  @apply rounded-xl
      p-1.5
      text-center 
      text-sm 
      font-medium 
      bg-green-100 
      text-green-800;
}
.listPlans-section-aside-container__body {
  @apply flex
        flex-col
        gap-3;
}

/* Classes do componente de filtro */
.listPlans-section-aside-container-body-filter__container {
  @apply flex
        flex-col
        gap-2;
}
.listPlans-section-aside-container-body-filter-container__limit {
  @apply flex
        flex-col
        gap-2;
}
.listPlans-section-aside-container-body-filter-container__limit h4 {
  @apply text-base 
      font-semibold 
      text-gray-400 
      uppercase;
}
.listPlans-section-aside-container-body-filter-container__limit p {
  @apply text-xl 
      font-bold 
      text-green-600;
}
.listPlans-section-aside-container-body-filter__container input {
  @apply w-full 
      bg-gray-200 
      rounded-lg 
      appearance-none 
      cursor-pointer 
      accent-purple-600;
}
.listPlans-section-aside-container-body-filter-container__limit-range {
  @apply flex 
        justify-between 
        text-base 
        text-blue-400;
}
/* ================ */
.listPlans-section-aside-container-body__filter button {
  @apply bg-blue-500
          text-base
          p-2
          text-white
          rounded-xl
          w-full
          hover:bg-blue-700
          transition-colors
          mt-3
          cursor-pointer
          
          max-sm:w-full
          
          max-md:w-80;
}

.listPlans-section-aside-container-body__status h4 {
  @apply text-base 
      font-semibold 
      text-gray-400 
      uppercase
      mt-3;
}
.listPlans-section-aside-container-body__status p {
  @apply text-xl 
      font-bold 
      text-purple-400;
}
.listPlans-section-aside-container__footer {
  @apply border-b
        border-gray-200
        pb-2;
}
.listPlans-section-aside-container__footer a {
  @apply block 
        w-full 
        text-lg
        text-purple-900 
        hover:text-gray-700 
        font-medium 
        transition-colors;
}
/* Coluna da Direita: Lista de Planos */
.listPlans-section__plans {
  @apply p-6
  
        max-sm:p-5;
}
.listPlans-section-plans__text {
  @apply flex
        justify-between
        p-2.5
        bg-blue-400
        mb-4
        rounded-xl;
}
.listPlans-section-plans__text h2 {
  @apply text-xl
        text-white
        
        max-lg:text-lg;
}
.listPlans-section-plans__cards {
  @apply grid
        grid-cols-3
        gap-3
        
        max-sm:grid-cols-1

        max-lg:grid-cols-2;
}
.listPlans-section-plans__pagination {
  @apply flex
        gap-2
        mt-6;
}
