@import "tailwindcss";

.header {
  @apply fixed 
        top-0  
        left-0 
        w-full 
        z-30 
        transition-all 
        duration-300
        flex
        items-center
        justify-center;
}
.isScrolled__yes {
  @apply bg-purple-200/80 
        backdrop-blur-md 
        shadow-sm
        p-7
        max-md:p-4;
}
.isScrolled__no {
  @apply bg-transparent 
        p-7 
        max-lg:p-4;
}
.header__container {
  @apply w-350
        flex
        items-center
        justify-between
        
        max-md:w-full
        
        max-lg:w-170
        
        max-xl:w-230;
}
.logo img {
  @apply w-52
        z-10
        
        max-md:w-32
        
        max-lg:w-36;
}
